.navbar {
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.website-logo {
  width: 70px;
  height: 40px;
}

.nav-heading {
  font-size: 30px;
  font-family: 'Bree Serif';
  margin: 0px;
  margin-left: 20px;
}
